# Python
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/

# Local data (Mock database and logs)
data/
*.duckdb
*.duckdb.wal
*.jsonl

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow (if running locally)
logs/
airflow.db
airflow.cfg
webserver_config.py
